# OS
.DS_Store
Thumbs.db

# JS
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environments
.venv/
venv/
env/

# IDE / Tools
.vscode/
.idea/

# Build / Dist
.vite
build/
dist/
site/
node_modules/

# Logs
*.log

